<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>查看对公司的反馈</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/i/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/amazeui.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/amazeui.datatables.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>

</head>

<body data-type="index">
<script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>
                    </span>
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>{{ current_user.name }}</span> </a>
                    </li>
                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="{{ url_for('user.logout') }}">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="{{ url_for('static', filename='assets/img/user04.png') }}" alt="">
                </div>
                <span class="user-panel-logged-in-text">
                        <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                        {{ current_user.name }}
                    </span>
            </div>
        </div>

        <!-- 菜单 -->
        {% if current_user.category == 3 %}
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">编辑</span></li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for('student.index') }}">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for('student.basicinfo') }}">
                    <i class="am-icon-laptop sidebar-nav-link-logo"></i> 基本信息修改
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for('student.feedback') }}">
                    <i class="am-icon-laptop sidebar-nav-link-logo"></i> 学生对公司反馈问卷编辑
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for('student.ssfeedback') }}">
                    <i class="am-icon-laptop sidebar-nav-link-logo"></i> 学生对专业反馈问卷编辑

                </a>
            </li>

            <li class="sidebar-nav-heading">查看</span></li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for('student.checkfeedback') }}">
                    <i class="am-icon-laptop sidebar-nav-link-logo"></i> 查看对公司反馈问卷
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for('student.checkssfeedback') }}">
                    <i class="am-icon-laptop sidebar-nav-link-logo"></i> 查看对专业反馈问卷
                </a>
            </li>

        </ul>
        {% endif %}
    </div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">信息一览</div>
            </div>
            <div class="widget-body  widget-body-lg am-fr">

                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                    <thead>
                    <tr>
                        <th>类别</th>
                        <th>信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>学号</td>
                        <td>{{ datainfo.student_num }}</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>就职公司</td>
                        <td>{{ datainfo.inauguration_company  }}</td>
                    </tr>
                    <tr class="gradeX">
                        <td>行业</td>
                        <td>{{ datainfo.industry }}</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>职位</td>
                        <td>{{ datainfo.take_office }}</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>对所在企业满意度</td>
                        <td>{{ datainfo.corporate_satisfaction }}</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>对所选职业满意度</td>
                        <td>{{ datainfo.career_satisfaction }}</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>对所在行业满意度</td>
                        <td>{{ datainfo.industry_satisfaction }}</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>升迁变化</td>
                        <td>{{ datainfo.shengqian }}</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>在公司获奖</td>
                        <td>{{ datainfo.prize_winning }}</td>
                    </tr>
                    <tr class="even gradeC">
                        <td>自我评价</td>
                        <td>{{ datainfo.self_evaluation }}</td>
                    </tr>
                    <!-- more data -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='assets/js/amazeui.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/amazeui.datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>

</body>

</html>